/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	color: #333;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */



/* Carousel base class */
.carousel {
	background-color:#e3f0f6;
	padding:0;
	height: 600px;
	
}
.home-carousel
{
	max-width: 1300px;margin:0 auto;
}
.gd-slider-title
{
	font-size: 42px;
	font-weight: 700;
	color: #ffffff;
}
.gd-slider-msg
{
	font-size: 24px;
	font-weight:normal;
	color: #fff;	
}
.gd-slider-btn
{
	 margin: 25px 0 0;
}
.carousel-control.right-panel {
    left: auto;
    right: 0;
}
.carousel-control {
    z-index: 12;
    width: 4%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
left: 0;
top: 28%;
padding: 0 !important;

	width: 500px;
	text-align: left;
}
.carousel-caption h1 {
	font-size:50px;
	color:#209cd0;
	text-shadow:none;
}
.carousel-caption h1 span {
	color:#1d5167;
}
/* Declare heights because of positioning of img element */
.carousel .item {
	height: 600px;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 674px;
}
.slideImage {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
}


.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
	opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
  }
  
  .carousel-fade .carousel-control {
	z-index: 2;
  } 
  @media all and (transform-3d), (-webkit-transform-3d) {
	  .carousel-fade .carousel-inner > .item.next,
	  .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	  }
	  .carousel-fade .carousel-inner > .item.prev,
	  .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	  }
	  .carousel-fade .carousel-inner > .item.next.left,
	  .carousel-fade .carousel-inner > .item.prev.right,
	  .carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	  }
  } 


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
	font-size:18px;
}
/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
 margin-top: 50px;
}
 .navbar-wrapper .container {
 padding-right: 15px;
 padding-left: 15px;
}
 .navbar-wrapper .navbar {
 padding-right: 0;
 padding-left: 0;
}

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
 border-radius: 4px;
}

  /* Bump up size of carousel content */
  .carousel-caption p {
 margin-bottom: 20px;
 font-size: 29px;
 line-height: 1.4;
 text-shadow:none;
 color:#272727;
}
 .featurette-heading {
 font-size: 50px;
}
}
 @media (min-width: 992px) {
 .featurette-heading {
 margin-top: 120px;
}
}
@media (max-width: 1366px) {
    .carousel-caption{
     left:7%;
    }
  
   }
