body {
	font-family: 'Roboto', sans-serif;
	padding-top: 71px;
	padding-bottom: 248px;
	overflow-x: hidden;
}
.nav-right {
	float: right;
}

.btn-primary {
	background-color: #3896e2;
	border-color: #3896e2;
	color: #fff;
}
.btn-success {
	background-color: #159759;
	border-color: #159759;
	color: #fff;
}
.btn-success:hover {
	background-color: #1aa060 !important;
	border-color: #159759 !important;
	color: #fff !important;
}
#myCarousel {

	color: #fff;
	text-align: center;

background: rgba(22,88,153,1);
background: -moz-linear-gradient(left, rgba(22,88,153,1) 0%, rgba(22,153,88,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(22,88,153,1)), color-stop(100%, rgba(22,153,88,1)));
background: -webkit-linear-gradient(left, rgba(22,88,153,1) 0%, rgba(22,153,88,1) 100%);
background: -o-linear-gradient(left, rgba(22,88,153,1) 0%, rgba(22,153,88,1) 100%);
background: -ms-linear-gradient(left, rgba(22,88,153,1) 0%, rgba(22,153,88,1) 100%);
background: linear-gradient(to right, rgba(22,88,153,1) 0%, rgba(22,153,88,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165899', endColorstr='#169958', GradientType=1 );
background-image: url(slideBackImg.jpg);
background-repeat: no-repeat;
background-size: 100% 746px;

}
.slide-Image {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
.HowWorksImg {
	height: 200px;
}
.sectionLight {
	background-color: #fff;
	padding: 60px 20px;
}
.sectionDark {
	background-color: #f2f2f2;
	padding: 60px 20px;
}
.sectionDarkMore {
	background-color: #ebebee;
	padding: 60px 20px;
}
.sectionColor {
	background-color: #3896e2;
	color: #fff;
	padding: 50px 20px;
}
.sectionLight h3 {
	color: #9c9c9c;
	margin-bottom: 60px;
	font-weight: normal;
}
.sectionDark h3 {
	color: #9c9c9c;
	margin-bottom: 60px;
}
.features {
	background-image: url(../images/featuresbackImg.jpg);
	color: #fff;
}
.features p {
	font-size: 18px;
}
.feature h2 {
	font-size: 35px;
}
.feature p {
	font-size: 18px;
	text-align: justify;
}
.feature img {
	margin: 0 auto;
}
.signUpContainer {
	background-color: #2196c7;
	color: #fff;
}
footer {
	background-color: #1c2025;
	color: #a8aeb7;
	padding: 50px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.social ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.social ul li {
	display: inline-block;
	position: relative;
	text-align: center;
}
.social ul li a {
	background: #131619 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 40px;
	overflow: hidden;
	width: 40px;
}
.social ul li a::before {
	bottom: 0;
	font-size: 18px;
	left: 0;
	line-height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.social ul li a::after {
	background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
	border-radius: 50%;
	bottom: 50%;
	content: "";
	left: 50%;
	position: absolute;
	right: 50%;
	top: 50%;
	transition: all 0.3s ease 0s;
	z-index: 1;
}
.social ul li a:hover::after {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.social a span.label {
	left: -999999px;
	position: absolute;
}
.nav > li > a:focus, .nav > li > a:hover {
	background: none;
	color: #209cd0;
}
.btn-login {
	font-weight: bold;
	color: #fff !important;
}
.slideBox01 {
	margin: 0;
	border: none;
	border-radius: 0;
}
.caption {
	color: #fff;
	margin-bottom: 15px;
}
.caption h2 {
	font-size: 37px;
	font-weight: 700;
	color: #f8ea29;
}
.caption p {
	font-size: 24px;
	width: 500px;
	margin: 0 auto;
}
.featureListing {
	margin: 0;
	padding: 0;
}
.featureListing li {
	background: url(../images/tick02.png) no-repeat 0 3px;
	list-style-type: none;
	margin: 10px 0;
	padding-left: 35px;
	text-align: left;
	font-size: 18px;
}
.navbar-toggle .icon-bar {
	background-color: #ccc;
}
.feature div {
	opacity: 1;
	transform: translate(0px, 0px) scale(1) rotate(0deg) skew(0deg, 0deg);
	transition: all 1s ease 0s;
}
.btn {
	border-radius: 0;
	padding: 8px 12px;
}
.btn-signin {
	border: 1px solid #3896e2;
	color: #3896e2 !important;
	margin-left: 15px;
}

.count {
	padding: 5px;
	border-right: 1px solid #0085aa;
	border-left: 1px solid #19acd4;
}
.count h2 {
	margin: 6px 0 0;
	color: #ffffff;
	font-size: 33px;
	font-weight: bold;
}
.count p {
	margin: 0;
	color: #b1d9e4;
	font-size: 20px;
}
.gallery-carousel-control-right {
	width: 50px;
	height: 50px;
	font-size: 35px;
	color: #3896e2;
	right: -60px !important;
	top: 102px;
	background: none !important;
	opacity: 1;
}
.gallery-carousel-control-left {
	width: 50px;
	height: 50px;
	font-size: 35px;
	color: #3896e2;
	left: -60px !important;
	top: 102px;
	background: none !important;
	opacity: 1;
}
.box {
	background-color: #fff;
	height: 250px;
	float: left;
	position: relative;
	overflow: hidden;
	width: 100%;
	border: 1px solid #d9d9d9;
	padding-top: 10px;
}
.box img {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.box .caption {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
}
.box .simple-caption {
	height: 200px;
	width: 100%;
	display: block;
	bottom: -115px;
	line-height: 25pt;
	text-align: center;
	margin: 0;
}
.box .simple-caption h3 {
	font-size: 20px;
	color: #fff;
	margin: 0;
	padding: 20px 30px;
	text-align: left;
}
.box .simple-caption h3 span {
	font-size: 20px;
	color: #c5c5c5;
}
.box .simple-caption p {
	font-size: 15px;
	color: #fff;
	width: 100%;
	padding: 0 30px 10px;
	text-align: left;
	margin: 0;
	line-height: normal;
}
.box:hover .simple-caption {
	-moz-transform: translateY(-55%);
	-o-transform: translateY(-55%);
	-webkit-transform: translateY(-55%);
	opacity: 1;
	transform: translateY(-55%);
}
.latest-news {
	padding: 30px;
	height: auto;
}
.latest-news h2 {
	text-align: left;
	color: #3996e2;
	margin-bottom: 30px;
}
.latest-news h2 span {
	color: #15836d;
}
.news-section {
	background-color: #f8f8f8;
	padding: 30px;
	border: 1px solid #e5e5e5;
	margin-bottom: 15px;
}
.news-section h3 {
	margin: 0;
}
.news-section span {
	color: #717171;
	font-size: 12px;
}
.news-section p {
	font-size: 15px;
	margin: 15px 0;
}
.recent-activities {
	padding: 30px;
	height: auto;
}
.recent-activities h2 {
	text-align: left;
	margin-bottom: 15px;
}
.activity-list {
	border-bottom: 1px solid #f1f1f1;
	padding: 15px 0;
}
ul.offer-list {
	list-style: square;
	color: #bb5757;
	text-align: left;
	padding: 0;
}
ul.offer-list li {
	font-size: 17px;
	padding: 4px 0;
	margin-left: 15px;
}
.dropdown-menu > li > a {
	padding: 9px 20px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color: #3896e2;
	color: #fff;
}
#vAlign {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
#show-notification-msg
{
    width: 465px;
    position: absolute;
    right: 0;
}

.count-icon
{
	 width: 80px;
	 height: 77px;
	 margin-left: 15px;
}
.sectionCount
{
	background-color: #0099c3;
}

/* Counter animation Start */
.chart {
	position: relative;
	display: inline-block;
	color: #999;
	font-size: 20px;
	text-align: center;
	}
	.chart:hover {
		cursor: pointer;
		background-color: #008fb9;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		}
  
  .chart figcaption {
	padding: 50px 25px;
	width: 100px;
	height: 50px;
	border: 20px solid #f0f0f0;
	border-radius: 100px;
	line-height: 50px;
  }
  
  .chart img {
	position: absolute;
	max-width: 50px;
	max-height: 50px;
	left: 28px;
	top: 18px;
  }
  /* END Container styles */
  
  /* Colors for the circles and positions for the graphics */
  .html {
	top: 50px;
	left: 45px;
  }
  
  .html + svg .outer {
	stroke: #91daee;
  }
  
  .css {
	top: 55px;
	left: 48px;
  }
  
  .css + svg .outer {
	stroke: #91daee;
  }
  
  .javascript {
	max-width: 80px;
	max-height: 80px;
	top: 45px;
	left: 45px;
  }
  
  .javascript + svg .outer {
	stroke: #91daee;
  }
  
  .node {
	width: 100px;
	height: 100px;
	top: 45px;
	left: 45px;
  }
  
  .node + svg .outer {
	stroke: #91daee;
  }
  
  .chart svg {
	position: absolute;
	top: 5px;
	left: 15px;
  }
  
  .outer {
	fill: transparent;
	stroke: #333;
	stroke-width: 2;
	stroke-dasharray: 534;
	transition: stroke-dashoffset 1s;
	-webkit-animation-play-state: running;
	
	/* firefox bug fix - won't rotate at 90deg angles */
	-moz-transform: rotate(-89deg) translateX(-190px);
  }
  
  .chart:hover .outer {
	stroke-dashoffset: 534 !important;
	-webkit-animation-play-state: paused;
  }
  /* END Circle colors and graphic positions */
  
  
  /* Set the initial values for the animation */
  .chart[data-percent='100'] .outer {
	stroke-dashoffset: 0;
	-webkit-animation: show100 2s;
	animation: show100 2s;
  }
  
  .chart[data-percent='75'] .outer {
	stroke-dashoffset: 133;
	-webkit-animation: show75 2s;
	animation: show75 2s;
  }
  
  .chart[data-percent='50'] .outer {
	stroke-dashoffset: 267;
	-webkit-animation: show50 2s;
	animation: show50 2s;
  }
  
  .chart[data-percent='25'] .outer {
	stroke-dashoffset: 401;
	-webkit-animation: show25 2s;
	animation: show25 2s;
  }
  /* END set initial animation values */
  
  /* Keyframes for the initial animation */
  @-webkit-keyframes show100 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 0;
	}
  }
  
  @keyframes show100 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 0;
	}
  }
  
  @-webkit-keyframes show75 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 134;
	}
  }
  
  @keyframes show75 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 124;
	}
  }
  
  @-webkit-keyframes show50 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 267;
	}
  }
  
  @keyframes show50 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 267;
	}
  }
  
  @-webkit-keyframes show25 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 401;
	}
  }
  
  @keyframes show25 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 401;
	}
  }
/* Counter animation End */


.count-icon
{
	 width: 80px;
	 height: 77px;
	 margin-left: 15px;
}
.sectionCount
{
	background-color: #0099c3;
}

/* Counter animation Start */
.chart {
	position: relative;
	display: inline-block;
	color: #999;
	font-size: 20px;
	text-align: center;
	}
	.chart:hover {
		cursor: pointer;
		background-color: #008fb9;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		}
  
  .chart figcaption {
	padding: 50px 25px;
	width: 100px;
	height: 50px;
	border: 20px solid #f0f0f0;
	border-radius: 100px;
	line-height: 50px;
  }
  
  .chart img {
	position: absolute;
	max-width: 50px;
	max-height: 50px;
	left: 28px;
	top: 18px;
  }
	/* END Container styles */
	

	/* Vertical timeline Start */

	.cd-timeline {
		margin: 2em auto;
	}
	
	.cd-timeline__container {
		position: relative;
		width: 780px;
		max-width: 1170px;
		margin: 0 auto;
		padding: 2em 0;
	}
	
	.cd-timeline__container::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 95px;
		left: 18px;
		height: 320px;
		width: 4px;
		background: #d7e4ed;
	}
	

		.cd-timeline {
			margin-top: 8em;
			margin-bottom: 0;
		}
		.cd-timeline__container::before {
			left: 50%;
			margin-left: -2px;
		}
	
	
	.cd-timeline__block {
		position: relative;
		margin: 2em 0;
	}
	
	.cd-timeline__block:after {
		/* clearfix */
		content: "";
		display: table;
		clear: both;
	}
	
	.cd-timeline__block:first-child {
		margin-top: 0;
	}
	
	.cd-timeline__block:last-child {
		margin-bottom: 0;
	}
	

		.cd-timeline__block {
			margin: 3em 0;
		}

	
	.cd-timeline__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		/* -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
						box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); */
	}
	
	.cd-timeline__img img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}
	
	.cd-timeline__img.cd-timeline__img--picture {
		background: #ffffff;
		color: rgb(39, 39, 39);
		font-size: 35px;
		border: 5px solid #fe8d56;
	}
	.layers-timeline-count {

		border: 5px solid #1bad8e;
		background: #ffffff !important;
		color: rgb(39, 39, 39) !important;
	}
	.map-timeline-count
	{
		border: 5px solid #3896e2 !important;
		background: #ffffff !important;
		color: rgb(39, 39, 39) !important;	
	}
	
	
	.cd-timeline__img.cd-timeline__img--movie {
		background: #c03b44;
		color: #fff;
		font-size: 35px;
	}
	
	.cd-timeline__img.cd-timeline__img--location {
		background: #f0ca45;
		color: #fff;
		font-size: 35px;
	}
	

		.cd-timeline__img {
			width: 60px;
			height: 60px;
			left: 50%;
			margin-left: -30px;
			top: 32px;
			/* Force Hardware Acceleration */
			-webkit-transform: translateZ(0);
							transform: translateZ(0);
		}
		.cd-timeline__img.cd-timeline__img--bounce-in {
			visibility: visible;
			-webkit-animation: cd-bounce-1 0.6s;
							animation: cd-bounce-1 0.6s;
		}

	
	@-webkit-keyframes cd-bounce-1 {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
							transform: scale(0.5);
		}
		60% {
			opacity: 1;
			-webkit-transform: scale(1.2);
							transform: scale(1.2);
		}
		100% {
			-webkit-transform: scale(1);
							transform: scale(1);
		}
	}
	
	@keyframes cd-bounce-1 {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
							transform: scale(0.5);
		}
		60% {
			opacity: 1;
			-webkit-transform: scale(1.2);
							transform: scale(1.2);
		}
		100% {
			-webkit-transform: scale(1);
							transform: scale(1);
		}
	}
	
	.cd-timeline__content {
		position: relative;
		margin-left: 60px;
		background: white;
		border-radius: 0.25em;
		padding: 1em;
		-webkit-box-shadow: 0 3px 0 #d7e4ed;
						box-shadow: 0 3px 0 #d7e4ed;
	}
	
	.cd-timeline__content:after {
		/* clearfix */
		content: "";
		display: table;
		clear: both;
	}
	
	.cd-timeline__content::before {
		/* triangle next to content block */
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 15px solid transparent;
		border-right: 15px solid white;
	}
	
	.cd-timeline__content h2 {
		color: #303e49;
	}
	
	.cd-timeline__content p,
	.cd-timeline__read-more,
	.cd-timeline__date {
		font-size: 1.3rem;
	}
	
	.cd-timeline__content p {
		margin: 1em 0;
		line-height: 1.6;
	}
	
	.cd-timeline__read-more,
	.cd-timeline__date {
		display: inline-block;
	}
	
	.cd-timeline__read-more {
		float: right;
		padding: .8em 1em;
		background: #acb7c0;
		color: white;
		border-radius: 0.25em;
	}
	
	.cd-timeline__read-more:hover {
		background-color: #bac4cb;
	}
	
	.cd-timeline__date {
		float: left;
		padding: .8em 0;
	}
	

		.cd-timeline__content h2 {
			font-size: 2rem;
			margin: 0;
			margin-top: 7px !important;
		}
		.cd-timeline__content p {
			font-size: 1.6rem;
		}
		.cd-timeline__read-more,
		.cd-timeline__date {
			font-size: 1.4rem;
		}

	
		.cd-timeline__content {
			margin-left: 200px;
			padding: 1.6em;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			/* Force Hardware Acceleration */
			-webkit-transform: translateZ(0);
							transform: translateZ(0);
		}
		.cd-timeline__content::before {
			top: 40px;
			left: 104%;
			border-color: transparent;
			border-left-color: #fe8d56;
		}
		.map-timeline-circle::before {
			top: 40px;
			left: 104%;
			border-color: transparent;
			border-left-color: #3896e2;
		}



		.cd-timeline__read-more {
			float: left;
		}
		.cd-timeline__date {
			position: absolute;
			width: 300px;
			left: 240px;
			top: -18px;
			font-size: 1.6rem;
			text-align: left;
			color: #616161;
		}
		.cd-timeline__block:nth-child(even) .cd-timeline__content {
			float: right;
		}
		.cd-timeline__block:nth-child(even) .cd-timeline__content::before {
			top: 40px;
			left: auto;
			right: 104%;
			border-color: transparent;
			border-right-color: #1bad8e;
		}
		
		.cd-timeline__block:nth-child(even) .cd-timeline__read-more {
			float: right;
		}
		.cd-timeline__block:nth-child(even) .cd-timeline__date {
			left: auto;
			right: 240px;
			text-align: right;
		}
		.cd-timeline__content.cd-timeline__content--bounce-in {
			visibility: visible;
			-webkit-animation: cd-bounce-2 0.6s;
							animation: cd-bounce-2 0.6s;
		}
		.register-timeline-circle
		{
			border: 7px solid #fe8d56;
		}
		.layers-timeline-circle
		{
			border: 7px solid #1bad8e;
			margin-right: 200px !important;
		}
		.map-timeline-circle
		{
			border: 7px solid #3896e2;
		}

		.cd-timeline__block:hover
		{
		-webkit-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
		-webkit-transform: scale(1);
		transform: scale(1);	
		cursor: pointer;
		}

	
	@media only screen and (min-width: 1170px) {
		/* inverse bounce effect on even content blocks */
		.cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
			-webkit-animation: cd-bounce-2-inverse 0.6s;
							animation: cd-bounce-2-inverse 0.6s;
		}
	}
	
	@-webkit-keyframes cd-bounce-2 {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-100px);
							transform: translateX(-100px);
		}
		60% {
			opacity: 1;
			-webkit-transform: translateX(20px);
							transform: translateX(20px);
		}
		100% {
			-webkit-transform: translateX(0);
							transform: translateX(0);
		}
	}
	
	@keyframes cd-bounce-2 {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-100px);
							transform: translateX(-100px);
		}
		60% {
			opacity: 1;
			-webkit-transform: translateX(20px);
							transform: translateX(20px);
		}
		100% {
			-webkit-transform: translateX(0);
							transform: translateX(0);
		}
	}
	
	@-webkit-keyframes cd-bounce-2-inverse {
		0% {
			opacity: 0;
			-webkit-transform: translateX(100px);
							transform: translateX(100px);
		}
		60% {
			opacity: 1;
			-webkit-transform: translateX(-20px);
							transform: translateX(-20px);
		}
		100% {
			-webkit-transform: translateX(0);
							transform: translateX(0);
		}
	}
	
	@keyframes cd-bounce-2-inverse {
		0% {
			opacity: 0;
			-webkit-transform: translateX(100px);
							transform: translateX(100px);
		}
		60% {
			opacity: 1;
			-webkit-transform: translateX(-20px);
							transform: translateX(-20px);
		}
		100% {
			-webkit-transform: translateX(0);
							transform: translateX(0);
		}
	}

		/* Vertical timeline End */

  
  /* Colors for the circles and positions for the graphics */
  .html {
	top: 50px;
	left: 45px;
  }
  
  .html + svg .outer {
	stroke: #91daee;
  }
  
  .css {
	top: 55px;
	left: 48px;
  }
  
  .css + svg .outer {
	stroke: #91daee;
  }
  
  .javascript {
	max-width: 80px;
	max-height: 80px;
	top: 45px;
	left: 45px;
  }
  
  .javascript + svg .outer {
	stroke: #91daee;
  }
  
  .node {
	width: 100px;
	height: 100px;
	top: 45px;
	left: 45px;
  }
  
  .node + svg .outer {
	stroke: #91daee;
  }
  
  .chart svg {
	position: absolute;
	top: 5px;
	left: 15px;
  }
  
  .outer {
	fill: transparent;
	stroke: #333;
	stroke-width: 2;
	stroke-dasharray: 534;
	transition: stroke-dashoffset 1s;
	-webkit-animation-play-state: running;
	
	/* firefox bug fix - won't rotate at 90deg angles */
	-moz-transform: rotate(-89deg) translateX(-190px);
  }
  
  .chart:hover .outer {
	stroke-dashoffset: 534 !important;
	-webkit-animation-play-state: paused;
  }
  /* END Circle colors and graphic positions */
  
  
  /* Set the initial values for the animation */
  .chart[data-percent='100'] .outer {
	stroke-dashoffset: 0;
	-webkit-animation: show100 2s;
	animation: show100 2s;
  }
  
  .chart[data-percent='75'] .outer {
	stroke-dashoffset: 133;
	-webkit-animation: show75 2s;
	animation: show75 2s;
  }
  
  .chart[data-percent='50'] .outer {
	stroke-dashoffset: 267;
	-webkit-animation: show50 2s;
	animation: show50 2s;
  }
  
  .chart[data-percent='25'] .outer {
	stroke-dashoffset: 401;
	-webkit-animation: show25 2s;
	animation: show25 2s;
  }
  /* END set initial animation values */
  
  /* Keyframes for the initial animation */
  @-webkit-keyframes show100 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 0;
	}
  }
  
  @keyframes show100 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 0;
	}
  }
  
  @-webkit-keyframes show75 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 134;
	}
  }
  
  @keyframes show75 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 124;
	}
  }
  
  @-webkit-keyframes show50 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 267;
	}
  }
  
  @keyframes show50 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 267;
	}
  }
  
  @-webkit-keyframes show25 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 401;
	}
  }
  
  @keyframes show25 {
	from {
	  stroke-dashoffset: 537;
	}
	
	to {
	  stroke-dashoffset: 401;
	}
  }
/* Counter animation End */



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.marketing h2 {
	margin-top: 0;
}
}
