{% load i18n %}

<div class="modal fade" id="_approve_document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{% trans "Approve Document" %}</h4>
        </div>
        <div class="modal-body">

              <div class="form-group">
                <h5> Are you sure you want to deny document : <a href="{{ resource.detail_url }}">{{ resource.title }}</a> </h5>
              </div>

        </div>




        <div class="alert hidden" id="bulk_perms_message">
          <p class="message">}</p>
          <p class="extra_content"></p>
        </div>

          <form method="post" action="{% url "document-approve" resource.id %}">
          {% csrf_token %}

              <div class="form-group">
                <label >{% trans "Comment subject" %}</label>
                  <select class="form-control" name="comment-subject" >
                    {% for subject in approve_comment_subjects %}
                        <option value="{{ subject }}">{{ subject }}</option>
                    {% empty %}
                        <option value="">No Subject</option>
                    {% endfor %}
                  </select>
              </div>

              Please comment here:
              <br>
              <textarea name="comment"></textarea>
          <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
          <button type="submit" class="btn btn-primary" >{% trans "Yes" %}</button>
          </div>

          </form>

      </div>
    </div>

</div>
