{% load i18n %}
    <div class="modal fade" id="_deny_document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:500px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title text-center" id="myModalLabel">{% trans "Deny Document" %}</h4>
            </div>
            <div class="modal-body" style="padding:0px 50px 0px 50px;">
                  <div class="form-group">
                    <h5> Are you sure you want to deny document : <a href="{{ resource.detail_url }}">{{ resource.title }}</a> </h5>
                  </div>
            </div>
            <div class="alert hidden" id="bulk_perms_message">
              <p class="message">}</p>
              <p class="extra_content"></p>
            </div>
              <form method="post" action="{% url "document-deny" resource.id %}">
              {% csrf_token %}
                  <div class="form-group" style="padding:0px 50px 0px 50px;">
                    <label >{% trans "Comment subject" %}</label>
                      <select class="form-control" name="comment-subject" >
                        {% for subject in deny_comment_subjects %}
                            <option value="{{ subject }}">{{ subject }}</option>
                        {% empty %}
                            <option value="">No Subject</option>
                        {% endfor %}
                      </select>
                  </div>
                 <div style="padding:0px 50px 0px 50px;">
                      <div class="row">
                          <div class="col-md-12">
                              <label >{% trans "Please comment here" %}</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                               <textarea name="comment" class="col-md-12" style="font-size:14px;"></textarea>
                          </div>
                       </div>
                      <div class="block-separator"></div>
                  </div>
              <div class="modal-footer" style="padding:10px 50px 0px 50px;">
                  <button class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
              <button type="submit" class="btn btn-primary" >{% trans "Yes" %}</button>
              </div>
              <div class="block-separator"></div>
              </form>
          </div>
        </div>
    </div>
