{% extends "site_base.html" %} {% load i18n %} {% load base_tags %} {% block title %} {% trans "New Map" %} - {{ block.super }} {% endblock %}  {% block head %}
{% include 'Templates/_base-headers.html' %}
<style>
    .sarsha-spinner-container {
        background: transparent;
        top: 40%;
        bottom: unset;
        left: 48%;
        width: 110px;
        height: 110px;
    }
</style>
{% endblock %}
{% block middle %}



<div class="surfgis" ng-controller="appController" ng-app="appModule" ng-cloak>

   <div class="application-font all-children-application-font"  ng-controller="MapController" ng-click="bodyClicked()" ng-class='{"draft": mapAccessLevel.IsPublic, "not-draft": !mapAccessLevel.IsPublic}'>
    <div class="row">
        <sarsha-spinner name="spinner1">
                    <div class="donot-print ng-scope"> 
                        <!-- Loading <i class="fa fa-spinner fa-spin"></i>  -->
                        <img src="{{ STATIC_URL }}geonode/images/loader.gif" width="110"/>
                    </div>
        </sarsha-spinner>
    </div>

       <div class="layout-content">
           <div class="layout-left donot-print" ng-style="layout.leftStyle">
            {% include 'maps/_layer-properties.html'%}
               
           </div>
           <div id="mainContent" class="layout-center donot-print" ng-style="layout.centerStyle">
                {% include 'maps/_map-panel.html'%}
           </div>
           
       </div>
       <div id="location-search-display-popup" class="surf-popup">
           <label class="addtolayer">
                   <button class="btn btn-small"><i class="fa fa-plus"></i> Add to layer</button>
               </label>

           <label class="address"></label>
           <label class="latlng"></label>
       </div>
   </div>
    {% include 'maps/layer-feature-details.html'%}
</div>

<style>
        .header-expand-button
    {
        display: block;
    }
    .layout-content {
    top: 0;
}
.navbar-fixed-top
{
    top: 0;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    transform: translate3d(0, -100%, 0);
}
.headerSlideOutDown
{
    top: 0;
    transition-property: transform;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
    transform: translate3d(0, 0, 0);
}
.headerSlideInUp
{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    transform: translate3d(0, -100%, 0);
    top: 0;
}

    </style>

<script>
  
    var navAnCount = 0; 
    function naVAnimating(){
        if(navAnCount === 0){
            // $("#panel-bottom").slideDown();
            // $('#panel-bottom').css("top", "");
            document.getElementById('gd-navbar').className = 'navbar navbar-fixed-top headerSlideOutDown'; 
            navAnCount++;
        }else{
            document.getElementById('gd-navbar').className = ' navbar navbar-fixed-top headerSlideInUp ';
            // $("#panel-bottom").slideUp();
            // $('#panel-bottom').css("top", "");
            navAnCount--;
            }
    }

</script>


   {% endblock %} {% block footer %}{% endblock %}