{% extends "groups/group_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load activity_tags social_tags i18n %}

{% block title %}{{ object.title|default:object.slug }} — {{ block.super }}{% endblock %}

{% block head %}
  {% if TWITTER_CARD %}
    {% include "groups/_group_twittercard.html" %}
  {% endif %}
  {% if OPENGRAPH_ENABLED %}
    {% include "groups/_group_opengraph.html" %}
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block body_class %}groups{% endblock %}

{% block body_outer %}
<div class="gd-content">
  <div class="gd-content-heading">
      <div class="row">
          <div class="col-md-9">
              <div class="title with-icon-content">
                  <a href="javascript:;">
                    {% if object.logo %}
                      <img height="65" src="{{ object.logo.url }}" alt="{{ object.title }}" />
                    {% else %}
                    <!-- <p>{% trans "This group has not created a logo." %}</p> -->
                    {% endif %}
                    {{ object.title|default:object.slug }}
                  </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="small-content text-right margin-top-50px">
                {% if can_view %}
                  <!--<a class="btn btn-gd-primary" href="{% url "group_activity" object.slug %}">
                  {% trans "Group Activities" %}
                  </a>-->
                {% endif %}
              </div>
          </div>
      </div>
      <div class="hr"></div>
  </div>
  <div class="gd-content-body transparent top-bottom-margin-20px">
      <div class="row">
          <div class="col-md-9">
              <div class="description">
                  {{ object.description }}
              </div>
              <div class="keywords">
                {% if object.keyword_list %}
                  {% for keyword in object.keyword_list %}
                  <button type="reset" class="btn btn-default btn-xs">
                      {{ keyword }}
                  </button>
                  {% endfor %}
                {% else %}
                {% endif %}
              </div>
              <div class="emails">
                {% if object.email %}
                  <i class="fa fa-envelope"></i>
                  <a href="mailto:{{ object.email }}">{{ object.email }}</a>
                {% endif %}
              </div>
          </div>
          <div class="col-md-3">
            {% if is_manager or request.user.is_superuser %}
              <ul class="list-group gd-link-style">
                  <li class="list-group-item">
                      <a href="{% url "group_update" object.slug %}">
                        {% trans "Edit Group Details" %}
                      </a>
                  </li>
                  <li class="list-group-item">
                      <a href="{% url "group_members" object.slug %}">
                        {% trans "Manage Group Members" %}
                      </a>
                  </li>
                  <li class="list-group-item">
                      <a href="{% url "group_remove" object.slug %}">
                        {% trans "Delete this Group" %}
                      </a>
                  </li>
              </ul>
            {% endif %}
            {% for manager in object.get_managers %}
                {% with manager as profile %}
                  {% include "groups/_manager_about_item.html" %}
                {% endwith %}
            {% endfor %}

            <!-- <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-right">
                        <a href="javascript:;">More...</a>
                    </div>
                </div>
            </div> -->
          </div>
      </div>
  </div>
  <div class="gd-content-body">
      <div class="row">
          <div class="col-md-12">
              <div class="gd-box">
                  <h3>{% trans "Permissions" %}</h3>
                  <div class="block-separator"></div>
                  {% blocktrans with object.get_access_display as access %}
                    This group is <strong>{{ access }}</strong>.
                  {% endblocktrans %}
                  {% if object.access == "public" %}
                    {% trans "Anyone may join this group." %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="block-separator"></div>
                            <form class="uniForm" method="POST" action="{% url "group_join" object.slug %}">
                              {% csrf_token %}
                              {% if not is_member %}
                                <input type="submit" class="btn btn-gd-gray btn-md btn-block" value="Join Group" />
                              {% endif %}
                            </form>
                        </div>
                    </div>
                  {% else %}
                      {% if object.access == "public-invite" %}
                        {% trans "Anyone may view this group but membership is by invitation only." %}
                      {% else %}
                        {% if object.access == "private" %}
                            {% trans "Membership is by invitation only." %}
                        {% endif %}
                      {% endif %}
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
  <div class="gd-content-heading">

      <div class="hr"></div>
      <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav nav-pills">
                  <li class="active"><a href="#userlist" data-toggle="tab"><i class=""></i>{% trans "User List" %}</a></li>
                  <li><a href="#layerslist" id="layers_list" data-toggle="tab" ><i class="fa fa-square-o rotate-45"></i> {% trans "Layers List" %}</a></li>
                  <li><a href="#acitivity" id="qroup_activity" data-toggle="tab"><i class="fa fa-map-marker"></i> {% trans "Activity" %}</a></li>
                  <li><a href="#qtionanswer" id="qst_ans" data-target="#qtionanswer" data-toggle="tab"><i class="fa fa-comment-o"></i> {% trans "Question/Answer" %}</a></li>
                </ul>
            </div>
      </div>
      <div class="row">
            <div class="col-md-12">
                <div class="tab-content activity-style-list">
                    <article id="userlist" class="tab-pane active">
                        <div class="no-style-list">
                            <div class="gd-content-body transparent">
                              <div class="paginate paginate-auto" id="search-content">
                                {% include 'people/_profile_list_item.html' %}
                              </div>
                              {% include 'search/_pagination.html' %}
                          </div>
                        </div>
                    </article>
                    <article id="layerslist" class="tab-pane">
                        <div class="no-style-list">
                            <div class="gd-content-body transparent">
                              <div class="paginate paginate-auto" id="search-content">
                                  <div id="search-content-layers">

                                  </div>
                              </div>
                              {% include 'search/_pagination.html' %}
                          </div>
                        </div>
                    </article>
                    <article id="acitivity" class="tab-pane">
                        <div class="no-style-list" id="show_qroupactivity">

                        </div>
                    </article>
                    <article id="qtionanswer" class="tab-pane">
                        <div class="no-style-list">
                            <div id="showquestans">


                            </div>
                        </div>
                    </article>
                </div>
            </div>
      </div>
  </div>
  <div class="block-separator"></div>
</div>
{% endblock %}


{% block extra_script %}
  <script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}'+ '?group='+ '{{ object.slug }}';
  </script>


  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}

    <script type="text/javascript" language="JavaScript">
        $(document).ready(function(){
            $("#layers_list").click(function(){
                var url = "{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}";
                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: url,
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(jsondata) {
                        console.log("success");
                        console.log(JSON.stringify(jsondata));

                        var data = eval(jsondata.objects);
                      $.each(data, function(i, item) {
                        $("#search-content-layers").append('<div class="row">
                            <article ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak class="ng-cloak">
                              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                  <div class="grid-container lmd">
                                      <div class="avater">
                                          <div class="avater-img">
                                            <a class="avater-img-mid" href="{{ item.detail_url }}" >
                                              <img ng-if="item.thumbnail_url != null" ng-src="{{ item.thumbnail_url }}" alt="{{ group.title }}" class="group-logo" />
                                              <img ng-if="item.thumbnail_url == null" ng-src="/static/geonode/img/missing_thumb.png" alt="{{ group.title }}" class="group-logo" />
                                            </a>
                                          </div>
                                              <div class="checkbox-overlay">
                                                  <div class="checkbox" ng-if="cart" ng-click="cart.toggleItem(item)">
                                                      <label>
                                                          <span ng-show="cart.isActive(item.id)" class="fa-stack fa-lg">
                                                              <i class="fa fa-square fa-stack-1x" style="color: #FFF;"></i>
                                                              <i class="fa fa-check-square fa-stack-1x"></i>
                                                          </span>
                                                          <span ng-show="!cart.isActive(item.id)" class="fa-stack fa-lg">
                                                              <i class="fa fa-square fa-stack-1x"></i>
                                                          </span>
                                                      </label>
                                                  </div>
                                              </div>
                                      </div>
                                      <div class="information">
                                          <div class="top-content text-center">
                                              <div class="title">
                                                  <a href="{{ item.detail_url }}" title="{{ item.title }}">
                                                      {{ item.title }}
                                                  </a>
                                              </div>
                                              <div class="category">
                                                  {{ item.category__gn_description }}

                                              </div>
                                              <div class="details">
                                                  {{ item.abstract }}
                                              </div>
                                          </div>

                                          <div class="summery">
                                              <div class="item-items">
                                                  <ul class="list-inline lmd">
                                                      <li>
                                                          <a href="/people/profile/{{ item.owner__username }}">
                                                              <i class="fa fa-user"></i>
                                                              {{ item.owner__username }}
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="{{ item.detail_url }}#info">
                                                              <i class="fa fa-calendar-o"></i>
                                                              {{ item.date|date:'d MMM y' }}
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="{{ item.detail_url }}">
                                                              <i class="fa fa-eye"></i>
                                                              {{ item.popular_count }}
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="{{ item.detail_url }}#share">
                                                              <i class="fa fa-share"></i>
                                                              {{ item.share_count }}
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="{{ item.detail_url }}#rate">
                                                              <i class="fa fa-star"></i>
                                                              {{ item.rating }}
                                                          </a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </article>
                          </div>');
                      });

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                    }
                 });
            });
        });

    </script>

    <script type="text/javascript" language="JavaScript">
        $(document).ready(function(){
            $("#qst_ans").click(function(){
                var url = "{% url "question-answer-list" object.slug %}";
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: url,
                        data: {},
                        dataType: "html",
                        success: function(jsondata) {
                            console.log("success");
                            $('#showquestans').html(jsondata);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            console.log("error");
                        }
                     });
            });
        });
    </script>
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function(){
            $("#qroup_activity").click(function(){
                var url = "{% url "group_activity" object.slug %}";
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: url,
                        data: {},
                        dataType: "html",
                        success: function(jsondata) {
                            console.log("success");
                            $('#acitivity').html(jsondata);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            console.log("error");
                        }
                     });
            });
        });
    </script>

{% endblock extra_script %}

