{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}{% trans "Admin Workspace" %}{% endblock %}

{% comment %}
{% block subnav %}
<li><a href="{% url "actstream_object_feed" content_type_id=ctype.pk  object_id=actor.pk %}">RSS</a></li>
<li><a href="{% url "actstream_object_feed_atom" content_type_id=ctype.pk  object_id=actor.pk %}">ATOM</a></li>
{% endblock %}
{% endcomment %}

{% block body_outer %}
    <div class="gd-content">
        <div class="gd-content-heading">
            <div class="title small-content">
                {% trans "Approve Layer" %}
            </div>
            <div class="hr"></div>
        </div>
        <div class="gd-content-body gd-history transparent top-bottom-margin-20px">
            <div class="row">
              <div class="col-md-12">
                  <div class="panel-body">
                    <div class="row" ng-app="layerApp">
                        <div ng-controller="approveLayerController">
                            <div class="col-md-4">
                                    <form class="form-horizontal" name="layer-approval-from">
                                            <div class="form-group">
                                              <label class="control-label col-sm-5" for="accLevel">Access Level</label>
                                              <div class="col-sm-7">
                                                <input type="text" 
                                                class="form-control" 
                                                id="accLevel"
                                                ng-model="layer.AccessLevel" 
                                                disabled
                                                placeholder="Enter access level">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="control-label col-sm-5" for="title">Title</label>
                                              <div class="col-sm-7"> 
                                                <input type="text" 
                                                class="form-control"
                                                 id="title"
                                                 disabled
                                                 ng-model="layer.Title"
                                                 placeholder={{layer.title}}>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                                    <label class="control-label col-sm-5" for="organization">Organizations</label>
                                                    <div class="col-sm-7">
                                                        <div class="well well-sm">
                                                                <label class="control-label">
                                                                        <span class="glyphicon glyphicon-list-alt"></span> Department</label> 
                                                                        <div class="checkbox" ng-repeat="department in departments">
                                                                                <label><input type="checkbox" value="true" ng-model="department.IsChecked">[{department.Name}]</label>
                                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                  </div>
                                            <div class="form-group">
                                                    <label class="control-label col-sm-5" for="fileType">File Type</label>
                                                    <div class="col-sm-7"> 
                                                      <input type="text" 
                                                      class="form-control" 
                                                      id="fileType"
                                                      ng-model="layer.FileType"
                                                      disabled
                                                       placeholder="Enter file type">
                                                    </div>
                                                  </div>
                                            <div class="form-group">
                                                        <label class="control-label col-sm-5" for="fileType">Uploaded By</label>
                                                        <div class="col-sm-7"> 
                                                          <input type="text"
                                                           class="form-control" 
                                                           id="fileType" 
                                                           ng-model="layer.UploadedBy"
                                                           disabled
                                                           placeholder={{layer.owner}}>

                                                        </div>
                                             </div>
                                             <div class="form-group">
                                                    <label class="control-label col-sm-5" for="section">Section</label>
                                                    <div class="col-sm-7"> 
                                                      <input type="text"
                                                       class="form-control" 
                                                       id="section" 
                                                       ng-model="layer.Section"
                                                       disabled
                                                       placeholder={{layer.owner.section}}>
                                                    </div>
                                                </div>
                                         <div class="form-group">
                                                <label class="control-label col-sm-5" for="uploadTime">Uploaded Time</label>
                                                <div class="col-sm-7"> 
                                                  <input type="text" 
                                                  class="form-control"
                                                   id="uploadTime" 
                                                   disabled
                                                   ng-model="layer.UploadedTime"
                                                   placeholder={{layer.date_created}}>
                                                </div>
                                            </div>
                                          </form>
    
                            </div>
                            <div class="col-md-4">
                                 <div ui-grid="gridOption" style="width: 100%;height: 480px"
                                          ui-grid-auto-resize 
                                          ui-grid-selection 
                                          ui-grid-cellnav
                                          class="grid">
                                    </div>
                            </div>
                            <div class="col-md-4">
                                    <img ng-src="{{layer.thumbnail_url}}"
                                    class="img-responsive center-block"
                                    alt="No Image Found">
                            </div>
                            <img ng-src="{{ layer.get_thumbnail_url }}" src="{{ layer.get_thumbnail_url }}"
                            <div class="col-md-12">
                                <div class="col-md-4 pull-right">
                                    <button type="button" class="btn btn-default pull-right" ng-click="approveLayer()">Submit For Approval</button>
                                    <button type="button" class="btn btn-default pull-right" ng-click="publishLayer()">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>    
              </div>
            </div>
        </div>
    </div>
{% include "layer_templates/_delete_layer.html" %}
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}geonode/js/workspace/layer/layer.module.js"></script>
<script src="{{ STATIC_URL }}geonode/js/workspace/layer/layer.service.js"></script>
<script src="{{ STATIC_URL }}geonode/js/workspace/layer/approve-layer.controller.js"></script>
{{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#user_list").click(function(){
                $("#viewuserlist_none").css("display", "none");
                //url = '{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}'+ '?group={{gg}}';
                url = '{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}';
                 $.ajax({
                        cache: false,
                        type: 'GET',
                        url: url,
                        data: {},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(jsondata) {
                            console.log("success");
                            //console.log(JSON.stringify(jsondata));
                            var data = eval(jsondata.objects);
                        var output='';
                            output +='<hr />';

                      var offset = meta.offset;
                      $.each(data, function(i, profile) {
                        //alert(profile.id);
                            offset = offset + 1;
                            output+='<td>'+ offset +'</td>';
                            output +='<article>';
                            output +='<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">';
                            output +='<div class="grid-container">';
                            output +='<div class="top-content text-center">';
                            output +='<div class="avater">';
                            output +='<a href="'+ profile.profile_detail_url +'?content=layers">';
                            output +='<div class="avater-img">';
                            output +='<div class="avater-img-mid">';
                            output +='<div class="text-center">';
                            output +='<img height="100" class="img-circle" src="'+ profile.avatar_100 +'" alt="Profile Image"/>';
                            output +='</div>';
                            output +='</div>';
                            output +='</div>';
                            output +='<div class="txt" style="min-height: 60px;">';
                                if(profile.first_name != ''){
                            output +=''+ profile.first_name+' '+  profile.last_name +' ';
                                }else{
                            output +=''+ profile.username +' ';
                                }
                            output +='</div>';
                            output +='</a>';
                            output +='</div>';
                            output +='<div class="details pro-org" title="'+profile.organization+'">';
                                    if(profile.organization){
                            output +='<div>';
                            output +=''+ profile.organization +'';
                            output +='</div>';
                                    }else{
                            output +='<div>';
                            output +='No Organization info';
                            output +='</div>';
                                    }
                            output +='</div>';
                            output +='</div>';
                            output +='<div class="bottom-content">';
                            output +='<div class="row">';
                            output +='<div class="profile-items text-center">';
                            output +='<ul class="list-inline">';
                            output +='<li>';
                            output +='<a href="'+ profile.profile_detail_url +'?content=layers" >';
                            output +='<span class="fa-layers-group fa-stack fa-rotate-90" style="font-size:12px;">';
                            output +='<i class="fa fa-stop fa-layers fa-stack-1x" style="left: 0;"></i>';
                            output +='<i class="fa fa-stop fa-layers fa-stack-1x" style="left: -.15em;color:#fff;"></i>';
                            output +='<i class="fa fa-stop fa-layers fa-stack-1x" style="left: -.3em;"></i>';
                            output +='<i class="fa fa-stop fa-layers fa-stack-1x" style="left: -.45em;color:#fff;"></i>';
                            output +='<i class="fa fa-stop fa-layers fa-stack-1x" style="left: -.6em;"></i>';
                            output +='</span>';
                            output +=''+ profile.layers_count +'';
                            output +='</a>';
                            output +='</li>';
                            output +='<li>';
                            output +='<a href="'+ profile.profile_detail_url +'?content=documents">';
                            output +='<i class="fa fa-file-text-o"></i> ';
                            output +=''+ profile.documents_count +'';
                            output +='</a>';
                            output +='</li>';
                            output +='<li>';
                            output +='<a href="'+ profile.profile_detail_url +'?content=maps">';
                            output +='<i class="fa fa-map-marker"></i> ';
                            output +=''+ profile.maps_count +'';
                            output +='</a>';
                            output +='</li>';
                            output +='</ul>';
                            output +='</div>';
                            output +='</div>';
                            output +='</div>';
                            output +='</div>';
                            output +='</div>';
                            output +='</article>';
                        });
                        $("#viewuserlist").append(output);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            console.log("error");
                        }
                 });
            });
        });
    </script>
    <script>
    function deleteLayer(id){
        //console.log(id);
        var sleID = parseInt(id);
        $("#testid").html(id);
        $('#_delete_layer').modal('show');
        $('#Layer_Del').attr('action', '../../layers/'+ sleID +'/delete');
    }

    $(function () {
        $("#follow_button, #unfollow_button").click(function () {
            $.post($(this).attr("href"), {});
            $(this).parent().find("#follow_button, #unfollow_button").toggle();
            return false
        });
    });
    </script>
<script type="text/javascript" language="JavaScript">
        function showAdminDraftLayer(targeturl){
            var limit = 25;
            if(targeturl== undefined){
                var url = "{% url 'api_dispatch_list' api_name='api' resource_name='workspace_layer_api' %}?limit="+ limit +"&resource_state=user_approval_request_list&user_type=admin";
            }
            else{
                var url = targeturl;
            }
            //var url = "{% url 'api_dispatch_list' api_name='api' resource_name='group_activity' %}?limit="+ Plimit +"&group={{ object.slug }}";
                $.ajax({
                    cache: true,
                    type: 'GET',
                    url: url,
                    data: {},
                    dataType: "json",
                    success: function(jsondata) {
                        console.log("success");
                        //console.log(JSON.stringify(jsondata));
                    var data = eval(jsondata.objects);
                    var meta = eval(jsondata.meta);
                    var t_count = meta.total_count;
                    var t_limit = meta.limit;
                    var t_offset = meta.offset;
                    var t_next = meta.next;
                    var t_previous = meta.previous;
                        //alert(t_offset);
                    var output='';
                    var outputpag='';
                    var offset = meta.offset;
                  $.each(data, function(i, item) {
                    offset = offset + 1;
                    output+='<tr>';

                    output+='<td>'+ offset +'</td>';
                    output+='<td><a href='+ item.detail_url +'>'+ item.title+'</a></td>';
                    output+='<td>'+ item.group +'</td>';
                    output+='<td>'+ item.current_iteration +'</td>';
                    output+='<td>'+ item.date_updated +'</td>';
                    output+='<td><a href="'+ item.detail_url +'?user_role=manager" class="btn btn-gd-primary">{% trans "Publish/Approve Layer" %}</a> <a href="'+ item.detail_url +'" class="btn btn-gd-primary">{% trans "Edit Layer" %}</a> <a onclick="deleteLayer('+ item.id +')" class="btn btn-gd-primary">{% trans "Inactive Layer" %}</a></td>';
                    output+='</tr>';
                  });
                  outputpag+='<div>';
                  outputpag+='<nav>';
                  outputpag+='<ul class="pagination pull-left">';
                  var nexturl = meta.next;
                  //alert(t_count);
                  var previousurl = meta.previous;
                  if(previousurl){
                  outputpag+='<li><a href="javascript:;" id="previousAdminDraftlayers"><strong><i class="fa fa-angle-left"> <span>Previous</span></i></strong></a></li>';
                  }
                  if(nexturl){
                  outputpag+='<li><a href="javascript:;" id="nextAdminDraftlayers"><strong><span>Next</span> <i class="fa fa-angle-right"></i></strong></a></li>';
                    }
                  outputpag+='</ul>';
                  outputpag+='</nav>';
                  outputpag+='</div>';
                   $("#showallAdminDraftlayers").html(output);
                   $("#showallAdminDraftlayerspag").html(outputpag);
                   $("#nextAdminDraftlayers").click(function(){
                        showAdminDraftLayer(nexturl)
                   });
                   $("#previousAdminDraftlayers").click(function(){
                        showAdminDraftLayer(previousurl)
                   });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                    }
                });
        }

        $(document).ready(function(){
            showAdminDraftLayer();
        });
 </script>
<script type="text/javascript" language="JavaScript">
        function showAdminDatalayers_pending(targeturl){
            var limit = 25;
            if(targeturl== undefined){
                var url = "{% url 'api_dispatch_list' api_name='api' resource_name='workspace_layer_api' %}?limit="+ limit +"&resource_state=approved_list&user_type=admin";
            }
            else{
                var url = targeturl;
            }
            //var url = "{% url 'api_dispatch_list' api_name='api' resource_name='group_activity' %}?limit="+ Plimit +"&group={{ object.slug }}";
                $.ajax({
                    cache: true,
                    type: 'GET',
                    url: url,
                    data: {},
                    dataType: "json",
                    success: function(jsondata) {
                        console.log("success");
                        //console.log(JSON.stringify(jsondata));
                    var data = eval(jsondata.objects);
                    var meta = eval(jsondata.meta);
                    var t_count = meta.total_count;
                    var t_limit = meta.limit;
                    var t_offset = meta.offset;
                    var t_next = meta.next;
                    var t_previous = meta.previous;
                        //alert(t_offset);
                    var output='';
                    var outputpag='';
                    var i =1;
                    var offset = meta.offset;
                  $.each(data, function(i, item) {
                  //alert(item.date_created)
                    offset = offset + 1;
                    output+='<tr>';
                    output+='<td>'+ offset +'</td>';
                    output+='<td><a href="'+ item.detail_url +'">'+ item.title+'</a></td>';
                    output+='<td>'+ item.group +'</td>';
                    output+='<td>'+ item.owner +'</td>';
                    output+='<td>'+ item.last_auditor +'</td>';
                    output+='<td>'+ item.date_updated +'</td>';
                    output+='<td><a href="'+ item.detail_url +'" class="btn btn-gd-primary">{% trans "Edit" %}</a></td>';
                    output+='</tr>';
                  });
                  outputpag+='<div>';
                  outputpag+='<nav>';
                  outputpag+='<ul class="pagination pull-left">';
                  var nexturl = meta.next;
                  //alert(t_count);
                  var previousurl = meta.previous;
                  if(previousurl){
                  outputpag+='<li><a href="javascript:;" id="previousAdminDraftlayers_pen"><strong><i class="fa fa-angle-left"> <span>Previous</span></i></strong></a></li>';
                  }
                  if(nexturl){
                  outputpag+='<li><a href="javascript:;" id="nextAdminDraftlayers_pen"><strong><span>Next</span> <i class="fa fa-angle-right"></i></strong></a></li>';
                    }
                  outputpag+='</ul>';
                  outputpag+='</nav>';
                  outputpag+='</div>';
                   $("#allAdminDraftlayers_pen").html(output);
                   $("#showallAdminDraftlayerspag_panding").html(outputpag);
                   $("#nextAdminDraftlayers_pen").click(function(){
                        showAdminDatalayers_pending(nexturl)
                   });
                   $("#previousAdminDraftlayers_pen").click(function(){
                        showAdminDatalayers_pending(previousurl)
                   });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                    }
                });
        }

        $(document).ready(function(){
            $("#Approved_list_layers_admin").click(function(){
                showAdminDatalayers_pending();
                });
         });
 </script>
<script type="text/javascript" language="JavaScript">
        function showAdminDatalayers_draft(targeturl,counturl){
            var limit = 25;
            var counut = counturl;
            if(targeturl== undefined){
                var url = "{% url 'api_dispatch_list' api_name='api' resource_name='workspace_layer_api' %}?limit="+ limit +"&resource_state=user_draft_list&user_type=admin";
            }
            else{
                var url = targeturl;
            }
            if(counturl== undefined){
                counturl = 0;
            }
            //var url = "{% url 'api_dispatch_list' api_name='api' resource_name='group_activity' %}?limit="+ Plimit +"&group={{ object.slug }}";
                $.ajax({
                    cache: true,
                    type: 'GET',
                    url: url,
                    data: {},
                    dataType: "json",
                    success: function(jsondata) {
                        console.log("success");
                        //console.log(JSON.stringify(jsondata));
                    var data = eval(jsondata.objects);
                    var meta = eval(jsondata.meta);
                    var t_count = meta.total_count;
                    var t_limit = meta.limit;
                    var t_offset = meta.offset;
                    var t_next = meta.next;
                    var t_previous = meta.previous;
                        //alert(t_offset);
                    var output='';
                    var outputpag='';
                    var offset = meta.offset;
                  $.each(data, function(i, item) {
                    counturl = counturl+1;
                    offset = offset + 1;
                    output+='<tr>';
                    output+='<td>'+ offset +'</td>';
                    output+='<td><a href="'+ item.detail_url +'">'+ item.title+'</a></td>';
                    output+='<td>'+ item.group +'</td>';
                    output+='<td>'+ item.owner +'</td>';
                    output+='<td>'+ item.date_created +'</td>';
                    output+='<td><button type="button" class="btn btn-gd-primary" onclick="deleteLayer('+ item.id +')" style="color:#fff;">{% trans "Delete Layer" %}</button></td>';
                    output+='</tr>';
                  });
                  outputpag+='<div>';
                  outputpag+='<nav>';
                  outputpag+='<ul class="pagination pull-left">';
                  var nexturl = meta.next;
                  //alert(t_count);
                  var previousurl = meta.previous;
                  if(previousurl){
                  outputpag+='<li><a href="javascript:;" id="previousAdminDraftlayers_denied"><strong><i class="fa fa-angle-left"> <span>Previous</span></i></strong></a></li>';
                  }
                  if(nexturl){
                  outputpag+='<li><a href="javascript:;" id="nextAdminDraftlayers_denied"><strong><span>Next</span> <i class="fa fa-angle-right"></i></strong></a></li>';
                    }
                  outputpag+='</ul>';
                  outputpag+='</nav>';
                  outputpag+='</div>';
                   $("#allAdminDraftlayers_denied").html(output);
                   $("#showallAdminDraftlayerspag_denied").html(outputpag);
                   $("#nextAdminDraftlayers_denied").click(function(){
                        showAdminDatalayers_draft(nexturl, counturl)
                   });
                   $("#previousAdminDraftlayers_denied").click(function(){
                        showAdminDatalayers_draft(previousurl)
                   });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                    }
                });
        }

        $(document).ready(function(){
            $("#Admin_userdraft").click(function(){
                showAdminDatalayers_draft();
                });
         });
 </script>

<script type="text/javascript" language="JavaScript">
        function showAdminDatalayers_active(targeturl){
            var limit = 25;
            if(targeturl== undefined){
                var url = "{% url 'api_dispatch_list' api_name='api' resource_name='workspace_layer_api' %}?limit="+ limit +"&resource_state=denied_list&user_type=admin";
            }
            else{
                var url = targeturl;
            }
            //var url = "{% url 'api_dispatch_list' api_name='api' resource_name='group_activity' %}?limit="+ Plimit +"&group={{ object.slug }}";
                $.ajax({
                    cache: true,
                    type: 'GET',
                    url: url,
                    data: {},
                    dataType: "json",
                    success: function(jsondata) {
                        console.log("success");
                        console.log(JSON.stringify(jsondata));
                    var data = eval(jsondata.objects);
                    var meta = eval(jsondata.meta);
                    var t_count = meta.total_count;
                    var t_limit = meta.limit;
                    var t_offset = meta.offset;
                    var t_next = meta.next;
                    var t_previous = meta.previous;
                        //alert(t_offset);
                    var output='';
                    var outputpag='';
                    var i =1;
                    var offset = meta.offset;
                  $.each(data, function(i, item) {
                    offset = offset + 1;
                    output+='<tr>';
                    output+='<td>'+ offset +'</td>';
                    output+='<td><a href="'+ item.detail_url +'">'+ item.title+'</a></td>';
                    output+='<td>'+ item.group +'</td>';
                    output+='<td>'+ item.owner +'</td>';
                    output+='<td>'+ item.last_auditor +'</td>';
                    output+='<td>'+ item.date_updated +'</td>';
                    output+='</tr>';
                  });
                  outputpag+='<div>';
                  outputpag+='<nav>';
                  outputpag+='<ul class="pagination pull-left">';
                  var nexturl = meta.next;
                  //alert(t_count);
                  var previousurl = meta.previous;
                  if(previousurl){
                  outputpag+='<li><a href="javascript:;" id="previousAdminDraftlayers_active"><strong><i class="fa fa-angle-left"> <span>Previous</span></i></strong></a></li>';
                  }
                  if(nexturl){
                  outputpag+='<li><a href="javascript:;" id="nextAdminDraftlayers_active"><strong><span>Next</span> <i class="fa fa-angle-right"></i></strong></a></li>';
                    }
                  outputpag+='</ul>';
                  outputpag+='</nav>';
                  outputpag+='</div>';
                   $("#allAdminDraftlayers_active").html(output);
                   $("#showallAdminDraftlayerspag_active").html(outputpag);
                   $("#nextAdminDraftlayers_active").click(function(){
                        showAdminDatalayers_active(nexturl)
                   });
                   $("#previousAdminDraftlayers_active").click(function(){
                        showAdminDatalayers_active(previousurl)
                   });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                    }
                });
        }

        $(document).ready(function(){
            $("#Admin_dined_list").click(function(){
                showAdminDatalayers_active();
                });
         });
 </script>
{% endblock %}

