
<li ng-cloak>
    <div class="btn-group">
        <button type="button" title="Nearest route configuration" ng-click="getLayers()" class="control-button icon dropdown-toggle"
                data-toggle="dropdown"
                ng-class="{'active' : buttons['setMarkerTool'].isActive}"
                aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu stop-propagation2" style="min-width: 300px;padding: 1em">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="nearestLayer">Layer : </label>
                    <div class="col-md-8">
                        <select class="form-control" id="nearestLayer"
                                ng-options="item.Id as item.Name for item in layers"
                                ng-model="routeConfig.layerId"
                        >
                            <option style="display: none;" value="">Select a layer</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="rad">Radius : </label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="routeConfig.radius" id="rad" placeholder="Enter radius">
                    </div>
                </div>
            </form>
        </ul>
    </div>
</li>

