<style>
    .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        visibility: hidden;
    }
    
    .ol-popup:after,
    .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }
    
    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }
    
    .ol-popup-closer:after {
        content: "✖";
    }
</style>

<li>
    <div class="btn-group">
        <button type="button" title="Marker Options" class="control-button icon dropdown-toggle" data-toggle="dropdown"
                ng-class="{'active' : buttons['setMarkerTool'].isActive}"
                aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width: 165px;">
            <li style="float:none" ng-class="{'active' : buttons['setMarkerTool'].isActive}">
                <a class="control-button icon" ng-click="toggleSetMarkerTool()" title="Set Marker">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Set Marker</a>
            </li>
            <li style="float:none">
                <a class="control-button icon" ng-click="clearAllMarker()" title="Clear all markers">
                    <i class="fa fa-trash" aria-hidden="true"></i> Clear Marker</a>
            </li>
        </ul>
    </div>
</li>



<div id="popup" class="ol-popup" style="min-width:150px">
    <a href="javascript:void(0)" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>