{% extends "site_base.html" %}
{% load activity_tags  social_tags i18n %}

{% block title %}{% trans "Analytics" %}{% endblock %}

{% block body_outer %}
<style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    .hidden {
        display: none;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>

    <div class="d-title">
        Analytics
    </div>

    <!-- Step 1: Create the containing elements. -->

    <section id="auth-button"></section>
    <!-- <section id="view-selector"></section> -->
    <!-- <section id="bounce-rate"></section> -->
    <!-- <section id="page-views"></section> -->
           
    <div class="row">
        <div class="col-md-3">
                <div class="panel panel-default analytics-box">
                <div class="panel-body">
                    
            <div class="round round-info pull-left"><i class="fa fa-map-o" aria-hidden="true"></i></div>
            <div class="pull-left">
            <h3 id="map_load">---</h3>
            <p>Map Loads</p>
        </div>
            </div>
            </div>
        </div>

        
        <div class="col-md-3">
                <div class="panel panel-default analytics-box">
                        <div class="panel-body">
                                <div class="round round-warning pull-left"><i class="fa fa-street-view" aria-hidden="true"></i></div>
                                <div class="pull-left">
            <h3 id="layer_load">---</h3>
            <p>Layer Loads</p>
        </div>
            </div>
            </div>
        </div>

        <div class="col-md-3">
                <div class="panel panel-default analytics-box">
                        <div class="panel-body">
                                <div class="round round-primary pull-left"><i class="fa fa-clone" aria-hidden="true"></i></div>
                                <div class="pull-left">
                                        <h3 id="document_load">---</h3>
                                        <p>Document Loads</p>
            </div>
            </div>
            </div>
        </div>
        
        <div class="col-md-3">
                <div class="panel panel-default analytics-box">
                        <div class="panel-body">
                                <div class="round round-danger pull-left"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="pull-left">
            <h3 id="total_zoom">---</h3>
            <p>Zoom</p>
            </div>
            </div>
        </div>
        
    </div>

</div>
<div class="row">      
    <div class="col-md-3">
            <div class="panel panel-default analytics-box">
            <div class="panel-body">
                
        <div class="round round-info pull-left"><i class="fa fa-map-o" aria-hidden="true"></i></div>
        <div class="pull-left">
        <h3 id="total_pan">---</h3>
        <p>Pan</p>
    </div>
        </div>
        </div>
    </div>

    
    <div class="col-md-3">
            <div class="panel panel-default analytics-box">
                    <div class="panel-body">
                            <div class="round round-warning pull-left"><i class="fa fa-street-view" aria-hidden="true"></i></div>
                            <div class="pull-left">
        <h3 id="total_click">---</h3>
        <p>Clicks</p>
    </div>
        </div>
        </div>
    </div>
   


    <div class="col-md-3">
            <div class="panel panel-default analytics-box">
                    <div class="panel-body">
                            <div class="round round-primary pull-left"><i class="fa fa-clone" aria-hidden="true"></i></div>
                            <div class="pull-left">
                                    <h3 id="average_activity">---</h3>
                                    <p>Average Activity</p>
        </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
            <div class="panel panel-default analytics-box">
                    <div class="panel-body">
                            <div class="round round-danger pull-left"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="pull-left">
        <h3 id="bounce-rate">---</h3>
        <p>Bounce Rate</p>
        </div>
        </div>
    </div>
    
</div>
</div>
<div class="row">
        
        <div class="col-md-3">
                <div class="panel panel-default analytics-box">
                        <div class="panel-body">
                                <div class="round round-danger pull-left"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="pull-left">
            <h3 id="avg-session-duration">---</h3>
            <p>Avg Session Duration</p>
            </div>
            </div>
        </div>
        
    </div>
</div>

    <!-- <div class="row">
        <div class="col-md-12">
            <div id="container-highchart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
    </div> -->

    <div class="row">
         <div class="col-md-12">
        <div class="btn-group btn-group-justified">
            <a onclick='showMapData()' id="mapData" class="btn btn-default">Map Data</a>
            <a onclick='showLayerData()' id="layerData" class="btn btn-primary active">Layer Data</a>
            <a onclick='showDocumentData()' id="documentData" class="btn btn-default">Document Data</a>
        </div>  
        </div>  
        
    </div> 
    <div class="row">
        <div class="col-md-12">
            <div class="loader hidden" style="margin: 30px auto" id="analyticsLoader"></div>
        </div>
    </div>
    <div class="row" id="output" style="width:100%; margin: 10px">

    </div>
{% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}geonode/css/geoexplorer/analytics.css" rel="stylesheet" />
{% endblock %}

{% block extra_script %}
    {# { block.super } #}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.18.0/pivot.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.18.0/pivot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.18.0/c3_renderers.min.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/analytics/subtotal.js"></script>
    <script>
        function getTotal(data, key){
            return Object.entries(data).reduce( (s, o) => ( o[1][key] || 0) + s, 0);
        }
        (function(){
            $.ajax({
                url: '/api/analytics/summary/'
              }).done(function(data) {
                  console.log(data);
                  $('#map_load').html(data.map.load);
                  $('#layer_load').html(data.layer.load);
                  $('#document_load').html(data.document.load);
                  $('#total_zoom').html(getTotal(data, 'zoom'));
                  $('#total_pan').html(getTotal(data, 'pan'));
                  $('#total_click').html(getTotal(data, 'click'));
                  let mapLayerData = Object.entries(data).filter(([k,v]) => (k != 'document' ? true:false)).reduce( (r, [k,v]) => Object.assign(r, {[k]:v}), {});
                  let sum = ['click', 'zoom', 'pan'].reduce( (s, o) => s + getTotal(mapLayerData, o), 0);
                  $('#average_activity').html(sum / getTotal(mapLayerData, 'click'));
                  
              });
        })();

function showTable(url,rows){
    $( "#analyticsLoader" ).removeClass( "hidden");
  $.ajax({
                url: url
              }).done(function(data) {
                $( "#analyticsLoader" ).addClass( "hidden" );
                $("#output").pivotUI(data,{
                  rows:rows,
                  renderers: $.extend(
                        $.pivotUtilities.renderers, 
                        $.pivotUtilities.c3_renderers,
                        $.pivotUtilities.subtotal_renderers
                      ),
                      rendererOptions:{
                        c3:{
                          zoom: {
                            enabled: true
                          }
                        },
                        collapseRowsAt:1,
                        collapseColsAt:0,

                      }
                });
              });
}

    function showMapData(){
        $("#mapData").attr('class', '');
        $("#layerData").attr('class', '');
        $("#documentData").attr('class', '');
        $( "#mapData" ).addClass( "btn btn-primary active" );
        $( "#layerData" ).addClass( "btn btn-default" );
        $( "#documentData").addClass( "btn btn-default" );
        var url="/analytics/maps/";
        var rows = ['name','map_id','last_modified_date','activity_type','count'];
        showTable(url,rows);
    }
    function showLayerData(){
        $("#mapData").attr('class', '');
        $("#layerData").attr('class', '');
        $("#documentData").attr('class', '');
        $( "#mapData" ).addClass( "btn btn-default" );
        $( "#layerData" ).addClass( "btn btn-primary active" );
        $( "#documentData").addClass( "btn btn-default" );
      var url="/analytics/layers/";
      var rows = ['name','layer_id','last_modified_date','activity_type','count'];
      showTable(url,rows);
    }
    showLayerData();

    function showDocumentData(){
        $("#mapData").attr('class', '');
        $("#layerData").attr('class', '');
        $("#documentData").attr('class', '');
        $( "#mapData" ).addClass( "btn btn-default" );
        $( "#layerData" ).addClass( "btn btn-default" );
        $( "#documentData").addClass( "btn btn-primary active" );
        var url="/analytics/documents/";
        var rows = ['name','document_id','last_modified_date','activity_type','count'];
        showTable(url,rows);
    }

    </script>

<!-- Step 2: Load the library. -->

<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>

<script>
    gapi.analytics.ready(function() {

    // Step 3: Authorize the user.

    var CLIENT_ID = '416484469256-1nd7ao3j8nmdgr1a4hgessd8oqsbuk0r.apps.googleusercontent.com';

    gapi.analytics.auth.authorize({
        container: 'auth-button',
        clientid: CLIENT_ID,
    });
    // Step 4: Create the view selector.

    var viewSelector = new gapi.analytics.ViewSelector({
        container: 'view-selector'
    });

    // Step 5: Create the timeline chart.

    var bounceRate = new gapi.analytics.googleCharts.DataChart({
        reportType: 'ga',
        query: {
        'dimensions': 'ga:country',
        'metrics': 'ga:bounceRate',
        'start-date': '30daysAgo',
        'end-date': 'yesterday',
        },
        chart: {
        type: 'LINE',
        container: 'bounce-rate'
        }
    });

    var pageViews = new gapi.analytics.googleCharts.DataChart({
        reportType: 'ga',
        query: {
        'dimensions': 'ga:pageTitle, ga:pagePath',
        'metrics': 'ga:pageviews',
        'start-date': '30daysAgo',
        'end-date': 'yesterday',
        'sort': '-ga:pageviews',
        // 'filters': 'ga:pagePath==/maps/',
        'max-results': 15
        },
        chart: {
        type: 'TABLE',
        container: 'page-views'
        }
    });

    // Step 6: Hook up the components to work together.

    gapi.analytics.auth.on('success', function(response) {
        // viewSelector.execute();
        makeApiCall();
    });

    viewSelector.on('change', function(ids) {
        var newIds = {
        query: {
            ids: ids
        }
        }
        bounceRate.set(newIds).execute();
        pageViews.set(newIds).execute();
        
    });
    });
</script>

<!-- <script src="https://apis.google.com/js/client.js?onload=loadLib"></script> -->
    <script>
    function getBounceRate(){
        var apiQuery = gapi.client.analytics.data.ga.get({
            'ids': 'ga:173184864',
            'dimensions': 'ga:country',
            'metrics': 'ga:bounceRate',
            'start-date': '30daysAgo',
            'end-date': 'yesterday',
        });
        
        apiQuery.execute(handleCoreReportingResults.bind({
            id: 'bounce-rate',
            key: 'ga:bounceRate',
            units: ''
            
        }));
    }
    function getAvgDuration(){
        var apiQuery = gapi.client.analytics.data.ga.get({
            'ids': 'ga:173184864',
            'dimensions': 'ga:country',
            'metrics': 'ga:avgSessionDuration',
            'start-date': '30daysAgo',
            'end-date': 'yesterday',
        });
        apiQuery.execute(handleCoreReportingResults.bind({
            id: 'avg-session-duration',
            key: 'ga:avgSessionDuration', 
            units: 's'
        }));
    }
    function makeApiCall() {
        getAvgDuration();
        getBounceRate();
    }

function handleCoreReportingResults(results) {
  if (!results.error) {
    // Success. Do something cool!
    $('#' + this.id).html(results.totalsForAllResults[this.key] + ' ' + this.units); 
  }
}
    </script>

{% endblock %}