<div ng-if="loading"><i class="fa fa-spinner fa-spin"></i></div>
<!-- <div id="attribute-grid" hands-on-table="gridData.attributeRows" config="config" class="hot handsontable"></div> -->
<div id="grid-bottom" ui-grid="gridOptions"
     ui-grid-resize-columns
     ui-grid-auto-resize
     ui-grid-selection
     ui-grid-cellnav
     ui-grid-move-columns
     ui-grid-exporter
     style="height: 220px">
</div>
<div class="modal-footer" style="padding: 5px;height: 50px">
    <div class="row">
        <div class="col-md-6 pull-left text-left">
            Showing
            <select ng-model="pagination.itemsPerPage" ng-change="itemPerPageChanged()"
                    ng-options="pageSize as pageSize for pageSize in pagination.pageSizes"
                    ></select>
            of <b>[{pagination.totalItems}]</b> items
        </div>
        <div class="col-md-6 pull-right">
            <pagination first-text="<<" last-text=">>" previous-text="<" next-text=">"
                        total-items="pagination.totalItems"
                        page="pagination.currentPage" max-size="2" class="pagination-sm" boundary-links="true"
                        rotate="false"
                        items-per-page="pagination.itemsPerPage" on-select-page="onPageSelect(page)"></pagination>
            <div draft-only ng-if="!data.isReadonly">
                <input type="button" ng-click="saveChanges()" class="btn btn-primary" value="Save"/>
                <button class="btn btn-default" ng-click="closeAttributeGrid()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .attribute-grid-container {
        min-height: 400px;
        margin-top: 0;
        overflow-y: hidden;
        border: 1px solid #ccc;
    }

    .attribute-grid-container .htCore th {
        cursor: pointer;
    }

    .tbl-attribute-grid .input-small, .pagination {
        margin: 0;
    }

    .pagination li {
        cursor: pointer;
    }

    .pagination li.disabled {
        cursor: default;
    }

    .no-item-found {
        font-style: italic;
        color: lightgray;
        padding-left: 220px !important;
    }

    .attributeGridModal .modal-body {
        max-height: none;
    }


</style>