<div class="mini-dialog">
   
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                    <span aria-hidden="true">×</span>
                </button> 
            <h4 class="modal-title">[{nodeData.layer.name}] Properties</h4>
    </div>

    <div class="modal-sub-header form-inline">

    <select name="styleSelect" class="form-control input-sm" style="width: 400px;margin-right: 5px;" ng-change="onStyleChange()" ng-model="nodeData.selectedStyle"  ng-options="style.title for style in Styles">
            <option value="">-- Select Style --</option>
    </select>
    <input class="btn btn-gd-primary btn-sm icon-btn-color" type="button" value="New" ng-click="newStyle()">
    <input class="btn btn-danger btn-sm icon-btn-color" type="button" ng-if="nodeData.selectedStyle.id && hasPermission" value="Delete" ng-click="deleteStyle()">

    </div>

    <form ng-submit="save()" style="margin: 0" novalidate>
        <div class="modal-body" style="max-height: initial;">
            <tabset>
                <tab active='tabs[0].active'>
                    <tab-heading>
                        General
                        <span ng-if="tabs[0].active" class="selected-down-arrow"></span>
                    </tab-heading>

                    <div class="general-properties form-horizontal" style="margin-top: 15px;">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                               Style Name :
                            </label>

                            <div class="col-sm-6">
                                <input class="form-control input-sm" draft-only type='text' ng-model='nodeData.layer.style.Title' maxlength="100" validatefilename focus-me="true" ng-change="onTitleChange()"
                                />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                Type :
                            </label>
                            <div class="col-sm-6">
                                [{nodeData.layer.shapeType}]
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-4 control-label">
                                Data Source :
                            </label>
                            <div class="col-sm-6">
                                [{nodeData.layer.dataSourceName || "N/A"}]
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                Linear Unit :
                            </label>
                            <div class="col-sm-6">
                                <span>[{nodeData.layer.linearUnit || "None"}]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                Minimum Zoom Level :
                            </label>
                            <div class="col-sm-2">
                                <input type="number" ng-model="nodeData.layer.zoomlevel" class="form-control input-sm" min="0" max="21" fixed-number-range
                                    ng-init="nodeData.layer.zoomlevel = nodeData.layer.zoomlevel == undefined ? 0: nodeData.layer.zoomlevel"
                                />
                            </div>
                        </div> -->

                    </div>

                </tab>
                <tab active='tabs[1].active'>
                    <tab-heading>
                        Display style
                        <span ng-if="tabs[1].active" class="selected-down-arrow"></span>
                    </tab-heading>
                    <layer-style-editor layer-style='nodeData.layer.style' feature-type="nodeData.layer.shapeType" is-weighted-point="false"></layer-style-editor>
                </tab>

                <!-- <tab active='tabs[2].active'>
                    <tab-heading>
                        Fields
                        <span ng-if="tabs[2].active" class="selected-down-arrow"></span>
                    </tab-heading>
                    <div class="attribute-definition-table-wrapper">
                        <div style="margin-left: 10px;" ng-if="!isReadonly">
                            <div style="font-size: 21px;">Attribute definition naming guidelines:</div>
                            <div ng-class="{'error':propertiesData.rule1Violated}">&emsp; - Attributes may not start with a digit and can be named using letters, numbers, and underscores</div>
                            <div ng-class="{'error':propertiesData.rule3Violated}">&emsp; - Name must be unique</div>
                            <div ng-class="{'error':propertiesData.rule4Violated}">&emsp; - At most one spatial attribute of a type can exist</div>
                        </div>
                        <div ng-if="!isReadonly" class="add-field-form form-inline">
                            <input ng-change="validateAddingFieldName()" ng-class="{'ng-invalid':!addFieldModel.nameValid}" type="text" ng-model="addFieldModel.AttributeName"
                                class="form-control" placeholder="Attribute Name" />
                            <input type="text" class="form-control" ng-model="addFieldModel.Name" placeholder="Attribute Alias" />
                            <select ng-change="validateAddingFieldType()" ng-class="{'ng-invalid':!addFieldModel.typeValid}" class="form-control" ng-model="addFieldModel.Type"
                                ng-options="type.type as type.viewLabel for type in types">
                                <option value="">-- type --</option>
                            </select>
                            <input ng-change="validateAddingFieldPrecision()" ng-class="{'ng-invalid':!addFieldModel.precisionValid}" type="number" ng-show="isNumericType(addFieldModel.Type)"
                                ng-model="addFieldModel.Precision" placeholder="precision" />
                            <input ng-change="validateAddingFieldScale()" ng-class="{'ng-invalid':!addFieldModel.scaleValid}" type="number" ng-show="isNumericType(addFieldModel.Type)"
                                ng-model="addFieldModel.Scale" placeholder="scale" />
                            <input ng-change="validateAddingFieldLength()" ng-class="{'ng-invalid':!addFieldModel.lengthValid}" type="number" ng-show="isTextType(addFieldModel.Type)"
                                ng-model="addFieldModel.Length" placeholder="length" />

                            <button ng-click="add()" type="button" class="btn btn-success" ng-disabled="!addingFieldIsValid()">
                                <i class="fa fa-plus"></i>Add
                            </button>
                        </div>
                        <attribute-definition-table>
                        </attribute-definition-table>
                    </div>
                </tab> -->
                <tab active="tabs[3].active">
                    <tab-heading>
                        Classifier
                        <span ng-if="tabs[3].active" class="selected-down-arrow"></span>
                    </tab-heading>
                    <classifier-definitions settings-data="settingsData" input-data="inputData" classifier-binder="classifierBinder" default-style="nodeData.layer.style['default']"
                        feature-type="nodeData.layer.shapeType">
                    </classifier-definitions>
                </tab>
                <tab active="tabs[4].active">
                    <tab-heading>
                        Labeling
                        <span ng-if="tabs[4].active" class="selected-down-arrow"></span>
                    </tab-heading>
                    <labeling-editor attribute-defs="nodeData.layer.attributeDefinitions" label-config="nodeData.layer.style.labelConfig" feature-type="nodeData.layer.shapeType">
                    </labeling-editor>
                </tab>
                <tab active="tabs[5].active">
                    <tab-heading>
                        Visualization
                        <span ng-if="tabs[5].active" class="selected-down-arrow"></span>
                    </tab-heading>
                    <visualization-editor attribute-defs="nodeData.layer.attributeDefinitions" option="visualizationSettings" feature-type="nodeData.layer.shapeType">
                    </visualization-editor>
                </tab>
                <tab active="tabs[6].active">
                    <tab-heading>
                        Advanced
                        <span ng-if="tabs[6].active" class="selected-down-arrow"></span>
                    </tab-heading>
                    <div class="col-md-12">

                        <div class="row"  style="margin-top: 10px" ng-show="selectedAdvancedRule==undefined">
                            <div class="col-md-12" style="margin-bottom: 13px">
                                <div class="col-md-4">
                                    <input type="text" ng-model="ruleName" class="form-control input-sm">
                                </div>
                                <button class="btn btn-sm btn-primary"
                                        ng-click="addAdvancedRule(ruleName,nodeData.layer.style['default'])"
                                        type="button">Add Rule
                                </button>
                            </div>
                            <table class="table table-condensed" ng-if="advancedStylingRules.length>0">
                                <thead>
                                    <tr>
                                        <td style="padding: 8px;font-size: 13px">
                                            Rule Name
                                        </td>
                                        <td style="padding: 8px;font-size: 13px">
                                            Actions
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in advancedStylingRules">
                                        <td style="padding: 8px">[{rule.ruleName}]</td>
                                        <td style="padding: 8px">
                                            <button class="btn btn-sm btn-primary" type="button" ng-click="editAdvancedRule(rule)">Edit</button>
                                            <button class="btn btn-sm btn-danger" type="button" ng-click="deleteAdvanceRule(rule,$index)">Delete</button>
                                            <button class="btn btn-sm btn-warning" type="button" ng-click="cloneAdvanceRule(rule)">Clone</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                    <div class="col-sm-12" ng-if="selectedAdvancedRule">
                        <div class="row">
                            <div class="col-md-4 pull-right">
                                <button class="btn btn-sm btn-primary pull-right" type="button" ng-click="deleteAdvanceSelectedRule()">
                                    Back to Rules
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2"> <!-- required for floating -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-left sideways">
                                <li class="active"><a href="#home-v" data-toggle="tab">Style</a></li>
                                <li><a href="#profile-v" data-toggle="tab">Label</a></li>
                                <li><a href="#messages-v" data-toggle="tab">Filter</a></li>
                                <li ng-click="refreshSlider()"><a href="#scale-v" data-toggle="tab">Scale</a></li>
                            </ul>
                        </div>

                        <div class="col-md-10">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home-v">
                                    <layer-style-editor layer-style="selectedAdvancedRule.style" feature-type="nodeData.layer.shapeType" is-weighted-point="false"></layer-style-editor>
                                </div>
                                <div class="tab-pane" id="profile-v">
                                    <labeling-editor attribute-defs="nodeData.layer.attributeDefinitions"
                                                     label-config="selectedAdvancedRule.labelConfig"
                                                     feature-type="nodeData.layer.shapeType">
                                    </labeling-editor>
                                </div>
                                <div class="tab-pane" id="messages-v">
                                    <query-builder layer-id="layerId" group="group" options="options" string-operators="stringCompareOperators"></query-builder>
                                </div>
                                <div class="tab-pane" id="scale-v">
                                    <div class="col-md-12" style="margin-top: 10px">
                                        <div class="form form-inline">
                                            <div class="form-group col-md-3">
                                                <div class="checkbox">
                                                    <label class="control-label"><input type="checkbox" ng-model="sliderScale.applyScale">Apply Scaling</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label col-md-5">Max Scale</label>
                                                <div class="col-md-6">
                                                    <input class="form-control input-sm" type="text" ng-model="sliderScale.minValue" min="1066" limit-to-min>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 col-md-offset-1">
                                                <label class="control-label col-md-5">Min Scale</label>
                                                <div class="col-md-6">
                                                    <input class="form-control input-sm" type="text" ng-model="sliderScale.maxValue" max="559082566" limit-to-max>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <rzslider rz-slider-model="sliderScale.minValue"
                                              rz-slider-high="sliderScale.maxValue"
                                              rz-slider-options="slider.options"></rzslider>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
                <div class="alert alert-warning col-md-8" ng-show="!hasPermission">
                    <strong>Warning!</strong> You do not have permission to change this style properties.
                  </div>
            <input draft-only class="btn btn-info" ng-if="nodeData.layer.style.id" type="button" value="Duplicate" ng-click="duplicate()"/>
            
            <input draft-only class="btn btn-success" ng-if="hasPermission" type="submit" value="Save" ng-disabled="nodeData.invalidField() || !nodeData.layer.name"
            />
            <button draft-only class="btn btn-inverse" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </form>
</div>

<style type="text/css">
    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: auto;
        height: 240px;
        text-align: center;
    }

    .attribute-definition-grid-style {
        border-top: 1px solid rgb(212, 212, 212);
        width: auto;
        height: 220px;
        text-align: left;
    }
    .tabs-left, .tabs-right {
        border-bottom: none;
        padding-top: 2px;
    }

    .tabs-left {
        border-right: 1px solid #ddd;
    }

    .tabs-right {
        border-left: 1px solid #ddd;
    }

    .tabs-left > li, .tabs-right > li {
        float: none;
        margin-bottom: 2px;
    }

    .tabs-left > li {
        margin-right: -1px;
    }

    .tabs-right > li {
        margin-left: -1px;
    }

    .tabs-left > li.active > a,
    .tabs-left > li.active > a:hover,
    .tabs-left > li.active > a:focus {
        border-bottom-color: #ddd;
        border-right-color: transparent;
    }

    .tabs-right > li.active > a,
    .tabs-right > li.active > a:hover,
    .tabs-right > li.active > a:focus {
        border-bottom: 1px solid #ddd;
        border-left-color: transparent;
    }

    .tabs-left > li > a {
        border-radius: 4px 0 0 4px;
        margin-right: 0;
        display: block;
    }

    .tabs-right > li > a {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
    }
</style>
