{% extends "services/services_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}


{% endblock %}

{% block title %} Edit Service - {{ block.super }} {% endblock %}

{% block body %}
<div class="gd-content">
    <div class="gd-content-heading">
        <div class="row">
            <div class="col-md-8">
                <div class="title small-content">
                    {% trans "Edit Service" %}
                </div>
            </div>
        </div>
        <div class="hr"></div>
    </div>
    <div class="gd-content-body full-pad-40px top-bottom-margin-20px">
        <form method="POST" id="service_register_form">
            {% csrf_token %}
            {{ service_form|as_bootstrap }}
            <div class="">
                <input type="submit" class="btn btn-gd-primary btn-lg"
                   id="submit_button" value="{% trans " Save" %}" />
            </div>
        </form>
    </div>
</div>
{% endblock %}