{% extends "services/services_base.html" %}
{% load i18n %}

{% block title %} Services -- {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="gd-content">
    <div class="gd-content-heading">
        <div class="row">
            <div class="col-md-8">
                <div class="title small-content">
                    {% trans "Remote Services" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="small-content pull-right">
                    <a href="{% url "register_service" %}" type="reset" class="btn btn-gd-primary col-md-12 col-sm-12 col-xs-12">
                        {% trans "Register a new Service" %}
                    </a>
                </div>
            </div>
        </div>
        <div class="hr"></div>
    </div>
    <div class="gd-content-body transparent">
        {% if services %}
        <table class="table hashr table-bordered gd-list-table">
            <thead>
                <tr>
                    <td width="50%">Title</td>
                    <td width="50%">URL</td>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td><a href='{% url "service_detail" service.id %}'>{{ service.title }}</a></td>
                    <td><a href='{% url "service_detail" service.id %}'>{{ service.base_url }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="gd-content-body full-pad-40px">
            <h4>No services registered</h4>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}