{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}{% trans "Member Workspace" %}{% endblock %}

{% comment %}
{% block subnav %}
<li><a href="{% url "actstream_object_feed" content_type_id=ctype.pk  object_id=actor.pk %}">RSS</a></li>
<li><a href="{% url "actstream_object_feed_atom" content_type_id=ctype.pk  object_id=actor.pk %}">ATOM</a></li>
{% endblock %}
{% endcomment %}

{% block body_outer %}
    <div class="gd-content">
        <div class="gd-content-heading">
            <div class="title small-content">
                {% trans "Member Workspace" %}
            </div>
            <div class="hr"></div>
        </div>
        <div class="gd-content-body gd-history transparent top-bottom-margin-20px">
            <div class="row">
              <div class="col-md-12">
                  <ul class="nav nav-pills">
                    <li role="presentation" ><a href="{% url "member-workspace-layer" %}">{% trans "Layers" %}</a></li>
                    <li role="presentation" class="active"><a href="{% url "member-workspace-map" %}"> {% trans "Maps" %}</a></li>
                    <li role="presentation"><a href="{% url "member-workspace-document" %}">{% trans "Documents" %}</a></li>
                  </ul>
                  <br>
                <ul class="nav nav-tabs">
                  <li ><a href="#draft" data-toggle="tab">{% trans "Draft" %}</a></li>
                  <li><a href="#pending" data-toggle="tab">{% trans "Pending" %}</a></li>
                  <li><a href="#denied" data-toggle="tab">{% trans "Denied" %}</a></li>
                  <li class="active"><a href="#active" data-toggle="tab">{% trans "Active" %}</a></li>
                </ul>
                <div class="tab-content">
                  <article id="draft" class="tab-pane">
                    <ul class="no-style-list">
                        <table class="table table-hover" style="background:#ffffff;">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Map Title</th>
                                    <th>Organization</th>
                                    <th>Map creation date</th>
                                </tr>
                            </thead>
                            {% for draft in draft_list %}
                                <tbody>
                                    <tr>
                                        <td>{{ forloop.counter}}</td>
                                        <td><a href="{{ draft.detail_url }}">{{ draft.title }}</a></td>
                                        <td>{{ draft.group }}</td>
                                        <td>{{ draft.date_created }}</td>
                                        <td><a href="{{ draft.detail_url }}?user_role=member" class="btn btn-gd-primary"> {% trans "Continue to Publish" %}</a></td>
                                        <td>
                                            <button type="button" class="btn btn-gd-primary" data-toggle="modal" data-target="#_delete_map" style="color:#fff;">{% trans "Delete Map" %}</button> <br>
                                            {% include "map_templates/_delete_map.html" %}
                                        </td>
                                    </tr>
                                </tbody>
                            {% empty %}
                                <p>{% trans "No drafts yet" %}</p>
                            {% endfor %}
                        </table>
                    </ul>
                  </article>
                  <article id="pending" class="tab-pane">
                    <ul class="no-style-list">
                        <table class="table table-hover" style="background:#ffffff;">
                            <thead>
                                <tr>
                                    <th>Serial No</th>
                                    <th>Map Title</th>
                                    <th>Organization</th>
                                    <th>Request Date</th>
                                </tr>
                            </thead>
                            {% for pending in pending_list %}
                                <tbody>
                                    <tr>
                                        <td>{{ forloop.counter}}</td>
                                        <td>{{ pending.title }}</td>
                                        <td>{{ pending.group }}</td>
                                        <td>{{ pending.date_updated }}</td>
                                    </tr>
                                </tbody>
                            {% empty %}
                                <p>{% trans "No pendings yet" %}</p>
                            {% endfor %}
                        </table>
                    </ul>
                  </article>
                  <article id="denied" class="tab-pane">
                    <ul class="no-style-list">
                        <table class="table table-hover" style="background:#ffffff;">
                            <thead>
                                <tr>
                                    <th>Serial No</th>
                                    <th>Map Title</th>
                                    <th>Organization</th>
                                    <th>Who Denied</th>
                                    <th>Denied Date</th>
                                </tr>
                            </thead>
                            {% for denied in denied_list %}
                                <tbody>
                                    <tr>
                                        <td>{{ forloop.counter}}</td>
                                        <td><a href="{{ denied.detail_url }}">{{ denied.title }}</a></td>
                                        <td>{{ denied.group }}</td>
                                        <td>{{ denied.last_auditor }}</td>
                                        <td>{{ denied.date_updated }}</td>
                                        <td><a href="{{ denied.detail_url }}?user_role=member" class="btn btn-gd-primary"> {% trans "Edit and publish again" %}</a></td>
                                    </tr>
                                </tbody>
                            {% empty %}
                                <p>{% trans "No denied maps yet" %}</p>
                            {% endfor %}
                        </table>
                    </ul>
                  </article>
                  <article id="active" class="tab-pane active">
                    <ul class="no-style-list">
                        <table class="table table-hover" style="background:#ffffff;">
                            <thead>
                                <tr>
                                    <th>Serial No</th>
                                    <th>Map Title</th>
                                    <th>Organization</th>
                                    <th>Activator</th>
                                    <th>Activation date</th>
                                    <th>Map Edit</th>
                                </tr>
                            </thead>
                            {% for active in active_list %}
                                <tbody>
                                    <tr>
                                        <td>{{ forloop.counter}}</td>
                                        <td>{{ active.title }}</td>
                                        <td>{{ active.group }}</td>
                                        <td>{{ active.last_auditor }}</td>
                                        <td>{{ active.date_updated }}</td>
                                        <td><a href="{{ active.detail_url }}" class="btn btn-gd-primary"> {% trans "Edit" %}</a></td>
                                    </tr>
                                </tbody>
                            {% empty %}
                                <p>{% trans "No active maps yet" %}</p>
                            {% endfor %}
                        </table>
                    </ul>
                  </article>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script>
$(function () {
    $("#follow_button, #unfollow_button").click(function () {
        $.post($(this).attr("href"), {});
        $(this).parent().find("#follow_button, #unfollow_button").toggle();
        return false
    });
});
</script>
{% endblock %}
